.results {
    background-color: bisque;
    display: grid;
    column-gap: 1px;
    row-gap: 14px;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
    background-color: sienna;
    
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: black;
    background-color: green;
    border-radius: 8px;
  }
  input::placeholder {
    color: black;
  }

  .loader {
    position: absolute;
    left: 45%;
    top: 45%;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }