
<div class="row" style="background-color: bisque; height: 14vb;">
    <form style="margin-top: 10px;">
        <input type="text" placeholder="Filter by title" #filter (keydown.enter)="filterBooks(filter.value, $event)">
        <button class="primary" type="button" (click)="filterBooks(filter.value, $event)">Search</button>
    </form>
</div>

<section class="results">
    <app-bookview *ngFor="let book of books"
    [book] = "book"></app-bookview>
</section>

<div class="row" style="background-color: bisque; height: 60px;">
    <button [disabled]="metadata && !metadata.HasPrevious" 
    style="margin-left: 700px; display: inline; width: 70px; height: 50px; margin-top: 5px;" (click)="changePage(-1)">Back</button>
    <input type="number" #pageNumber style="display: inline; width: 60px; height: 50px; margin-top: 5px" (keydown.enter)="setPage(pageNumber.value)" 
     (input)="onInputChange($event)">
    <button [disabled]="metadata && !metadata.HasNext" 
    style="text-align: center; display: inline; width: 70px; height: 50px; margin-top: 5px" (click)="changePage(1)">Next</button>
</div>
