<div *ngIf="bookLoading" id="loading-element" class="book-loader"></div>

<div *ngIf="book" class="container"  style="overflow: auto">
  
  <img src="{{book.photo}}" style="float: left; width: 200px; height: 300px;"/>
  <section style="margin-left: 200px;">
    <label style="margin-left: 10px;">
      <h3>Description:</h3> {{book.description}}
    </label>
    
    <hr>

    <label style="margin-left: 10px;">
      <h3>Genres:</h3> {{book.genres}}
    </label>
    
    <hr>
    <label style="margin-left: 10px;">
      <a *ngIf="author" [routerLink]="['/authors/details', book.authorId]">Author: {{author.name}}</a>
    </label>
  </section>

  <div class="row mb-3 mt-3">
    <div class="col-md-3">
      <button type="button" class="btn btn-success" style="margin: 10px;" (click)="download(book.filePath)">Download book pdf</button>
    </div>
      <button *ngIf="_authService.isUserAuthenticated() && !isBookInFavorites" class="btn btn-success" 
        style="width: fit-content; height: 40px;" (click)="addBookToMyFavoriteBooks()">Add book to favorites</button>
    
      <button *ngIf="_authService.isUserAuthenticated() && isBookInFavorites" class="btn btn-info" 
        style="width: fit-content; height: 40px;" [disabled]="true">Book in favorites</button>

      <button *ngIf="_authService.isUserAdmin()" class="btn btn-danger" [routerLink]="['/books/delete', bookId]"
      style="width: fit-content; height: 40px; margin-left: 20px;">delete</button>

      <button *ngIf="_authService.isUserAdmin()" class="btn btn-success" style="width: fit-content; height: 40px; margin-left: 20px;"
      [routerLink]="['/books/update', bookId]">update book</button>

    <div class="col-md-4">
      <span class="download" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="download">
        {{message}}
      </span>
    </div>
  </div>
</div>

<section *ngIf="!bookLoading" class="comments" >
  <h1>Comments:</h1>

  <form *ngIf="_authService.isUserAuthenticated()" style="margin-top: 10px;">
    <input #comment style="width: 500px; height: fit-content; margin-bottom: 5px;" type="text" id="comment-add-input"
     placeholder="add comment" (keydown.enter)="addComment(comment.value, $event)">
    <button class="primary" type="button" (click)="addComment(comment.value, $event)">add</button>
  </form>

  <section *ngFor="let comment of comments">
    <div class="row">
      <hr>
      <a style="margin-left: 94%; cursor: pointer;" >
        <i *ngIf="_authService.isUserAdmin() || _authService.getUserName() == comment.userName" id="options" class="material-icons" (click)="openOrCloseOptions(myDialog)"
        style="display: flex;">
          more_vert
          <dialog #myDialog style="width: fit-content; height: fit-content; margin-left: 1100px;">
            <button (click)="deleteComment(comment.id)" class="option">delete</button>
            <button (click)="openEdit(comment.id)" class="option">edit</button>
          </dialog>
        </i>
      </a>

      <a *ngIf="!isEditingComment(comment.id)" style="overflow-wrap: break-word; width: 80%; margin-bottom: 5px;">
        {{comment.userName}}: {{comment.text}}
      </a>
      
      <section *ngIf="isEditingComment(comment.id)">
        <input #commentInput style="width: 500px; height: fit-content;" type="text" id="comment-edit-input" value="{{comment.text}}"
          (keydown.enter)="editComment(comment.id, commentInput.value)" placeholder="edit comment">
        <button class="primary" type="button" (click)="editComment(comment.id, commentInput.value)">add</button>
      </section>
    </div>
  </section>
  <div *ngIf="metaData && metaData.TotalPages > metaData.CurrentPage" id="loading-element" class="loader"></div>
</section>

      