<div style="margin-left: 12.5%; width: 75%; margin-top: 5%;">
  <div class="row">
    <div *ngIf="author" class="card" style="background-color: whitesmoke">
      <div class="card-body">
        <div class="wrap">
          <div>
            <label>
              <h3>Name: </h3><h6>{{author.name}}</h6>
            </label>
          </div>
          <hr>
            <label>
              <h3>Bio: </h3><h6>{{author.bio}}</h6>
            </label>
          <hr>
          <label>
            <h5>author books:</h5>

            <ul *ngFor="let book of books">
              
              <li [routerLink]="['/books/details', book.id]" style="cursor: pointer; color: blue;">{{book.title}}</li>
            </ul>
          </label>
        </div>
      </div>
  </div>
</div>

